$color: #262828;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
	height: 100%;
}
body {
  color: $color;
  margin: 0;
  min-height: 100%;
	font-family: sans-serif;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

:global #root{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100%;
  min-width: 100vw;
}

h4{
	font-weight: normal;
	text-transform: uppercase;
	color: rgba(0,0,0,.5);
	font-size: 16px;
}

