@import '../../assets/scss/_global.scss';

.ImageAdmin{
	position: relative;
	.column{
    padding: 24px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    &.isHidden{
	    display: none;
	    + .column{
		    width: 100%;
	    }
    }
	}
	.notice{
		position: absolute;
		right: 16px;
		top: 16px;
		min-width: 200px;
		min-height: 50px;
		visibility: hidden;
		opacity: 0;
		transition: opacity .3s ease;
		line-height: 2em;
		padding: 8px;
		color: #627323;
	}
	.subnavWrap{
		 display: flex;
    justify-content: stretch;
    width: 100%;
    margin: 0 3rem;
	}
	.buttonGroup{
		margin: 8px;
		width: 100%;
		// height: 32px;
		// border: 1px solid #ccc;
		border-radius: 2px;
		// padding: 8px;
		// background: #fff;
		display: flex;
		flex-direction: row;
		.btn{
			width: 50px;
			height: 40px;
			display: inline-block;
			flex-basis: 1;
			width: 50%;
			height: 100%;
			padding: 8px;
			border-radius: 2px;
			text-transform: uppercase;
			text-align: center;
			background-color: rgba(0,0,0,.1);
			cursor: pointer;
			border-left: 1px solid transparent;
			color: rgba(0,0,0,.4);
			&:first-child{
				border-top-left-radius: 12px;
				border-bottom-left-radius: 12px;
				border-left: 0 solid white;
			}
			&:last-child{
				border-top-right-radius: 12px;
				border-bottom-right-radius: 12px;
			}
			&:hover{
				background-color: #f9f9f9;
			}
			&.selected{
				background-color: rgba(85, 151, 249, 1);
				color: #fff;
			}
			&.portrait{}
			&.landscape{}
			&.square{}
			&.circle{}
		}
		&.tabs{
			.btn{
		    background-color: transparent;
		    color: #777;
		    font-weight: bold;
		    border-bottom: 2px solid #c3c3c3;
		    border-radius: 0 !important;
		    font-size: .835rem;
		    &.selected{
			    border-bottom: 2px solid #333;			    
			    color: #333;
		    }
			}
		}
	}

	.imageTextPreview{
		background: rgba(0,0,0,.2);
		width: 100%;
		padding: 1rem;
		text-align: center;
		h2{
			text-transform: uppercase;
			font-size: 36px;
			font-weight: 500;
	    letter-spacing: .1ch;			
		}
		h3{
			text-transform: uppercase;
	    font-size: 20px;
	    font-weight: 600;
	    margin: 0;
	    letter-spacing: .2ch;
	    display: flex;
	    justify-content: center;
	    align-items: center;
		}
		.divider{
			border-radius: 1rem;
			width: .5rem;
			height: .5rem;
			margin:  0 1rem;
			background: #000;
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	.renderRow{
		align-items: center;
		justify-content: space-between;
		.column{
			padding: 8px;
		}
	}
	
	&.isUpdated{
		.notice{
			visibility: visible;
			opacity: 1;
			border: 1px solid #AFD621;
			background: #f9f9f9;		
			transition: opacity .3s ease;
		}
		.theTick{
			display: block;
			svg{
		    g{
			    path{
				    fill: #AFD621;
			    }
		    }
			}
		}
	}
	.variationList{
		padding: 8px;
		background: #fff;
	}
	.listItem{
		font-size: 11px;
		border-bottom: 1px solid #ccc;
		align-items: flex-start;
		justify-content: stretch;
		>div{
			flex-basis: 30%;
			flex-shrink: 1;
			flex-grow: 1;
			padding: 4px;
		}
		padding: 4px 0;
		&:hover{
			background: rgba(255,255,255, .2);
		}
		&.isActive{
			background: #fff;
		}
		.thumbnail{
			height: 30px;
		}
		&.listHeader{
			font-weight: bold;
		}
	}
	.svgItem{
		width: 100%;
		padding: 2px;
		background: #fff;
		margin-top: 1px;
		display: flex;
		min-height: 2rem;
		align-items: center;
		justify-content: stretch;
		flex-wrap:wrap;
		&.isSelected{
			background: lime;
		}
		&.toDelete{
	    // background: rgb(255, 218, 222);
	    background: #fff;
	    // border-top: 1px solid red;
	    .buttonWrap{
		    opacity: 0;
		    visibility: 0;
	    }
		}
		> div{
			flex-basis: 38%;
			flex-shrink: 1;
			flex-grow: 1;
		}
		.svgIcon{
			width: 1.25rem;
			height: 100%;
			background: #f3f3f3;
			border-radius: 3px;
			margin: 1px;
			margin-right: 1ch;
			height: 1.5rem;
			display: inline-block;
			vertical-align: middle;
			color: #ccc;
			text-align: center;
			line-height: 1.5rem;
			font-size: 11px;
			flex-basis: 1.25rem;
			flex-grow: 0;
		}
		.buttonWrap{
			flex-basis: 10%;
			flex-grow: 1;
		}
		.deleteWarning{
	    background: rgba(255, 25, 52, 1);
	    color: #fff;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    // border: 2px solid red;
	    border-radius: 4px;
	    flex-basis: 98%;
	    flex-shrink: 0;
	    line-height: 2rem;
	    padding: 1rem;
	    margin: .5rem;
		}
	}

	.theTick{
		vertical-align: middle;
		display: none; // overridden when updating
    width: 40px;
    height: 40px;
    position: absolute;
    top: -4px;
    left: -8px;
		svg{
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    g{
		    path{
			    fill: rgba(0,0,0,.1);
		    }
	    }
		}
	}
}