@import '../../assets/scss/_global.scss';

.Home{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.column{
		flex-basis: 1;
		width: 50%;
		height: 100%;
		padding: 24px;
	}
	.previewImageWrap, .renderImageWrap{
		width: 100%;
		padding: 24px;
		background: #e9e9e9;
		overflow: hidden;
	}
	.newImg{
		overflow: scroll;
	}
	// SVG List
	
	.svgItem{
		width: 100%;
		padding: 2px;
		background: #fff;
		margin-top: 1px;
		display: flex;
		min-height: 2rem;
		align-items: center;
		justify-content: stretch;
		flex-wrap:wrap;
		&.toDelete{
	    // background: rgb(255, 218, 222);
	    background: #fff;
	    // border-top: 1px solid red;
	    .buttonWrap{
		    opacity: 0;
		    visibility: 0;
	    }
		}
		> div{
			flex-basis: 38%;
			flex-shrink: 1;
			flex-grow: 1;
		}
		.svgIcon{
			width: 1.25rem;
			height: 100%;
			background: #f3f3f3;
			border-radius: 3px;
			margin: 1px;
			margin-right: 1ch;
			height: 1.5rem;
			display: inline-block;
			vertical-align: middle;
			color: #ccc;
			text-align: center;
			line-height: 1.5rem;
			font-size: 11px;
			flex-basis: 1.25rem;
			flex-grow: 0;
		}
		.buttonWrap{
			flex-basis: 10%;
			flex-grow: 1;
		}
		.deleteWarning{
	    background: rgba(255, 25, 52, 1);
	    color: #fff;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    // border: 2px solid red;
	    border-radius: 4px;
	    flex-basis: 98%;
	    flex-shrink: 0;
	    line-height: 2rem;
	    padding: 1rem;
	    margin: .5rem;
		}
	}
	//ITEMS
	.formItem{
		border-bottom: 1px dashed #ddd;
		padding: 8px 0;
		position: relative;
		button{
			position: absolute;
			right: 0;
			top: 8px;
		}

		&.isActive{
			background: rgba(0,0,0,.03);
			h5{
				span{
					color: lime;
				}
			}
			button{
				background: lime;
			}
		}
	}

	.dbImagesWrap{
		display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	}
	// IMAGE cards
	.imageList{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		.listItem{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			.preview{
				flex-basis: 3rem;
				height: 3rem;
				flex-shrink: 1;
				flex-grow: 0;
				overflow: hidden;
				> div > div { // the dosplay image wrap
					width: 3rem !important;
			    height: 3rem !important;
			    > div { // the display image
						width: 3rem !important;
				    height: 3rem !important;				    
			    }
				}
			}
			.content{
				flex-basis: 100%;
				height: 40px;
				flex-shrink: 1;
				flex-grow: 1;	
				padding: 2px;
				h5{
					padding: 0;
					margin: 0;				
				}	
				h6{
					font-size: 11px;
					padding: 2px 0;
					margin: 0;
					font-weight: normal;
					color: #777;
				}		
			}
			.meta{
				flex-basis: 50%;
				flex-shrink: 1;
				flex-grow: 1;
				height: 3rem;
				line-height: 3rem;
			}
		}
		.imageCard{
			width: 100%;
			height: 3rem;
			background: #f9f9f9;
			// box-shadow: 0 1px 4px rgba(0,0,0,.1);
			// display: inline-block; 
			margin: 1px 0;
			font-size: 11px;
			position: relative;
			button{
				position: relative;
				background: transparent;
				box-shadow: none;
				&.editButton{
					position: absolute;
					top: 4px;
					right: 4px;
					opacity: 1;
				}
			}
			.theCount{
				width: 18px;
				height: 18px;
				background: #222;
				text-align: center;
				line-height: 18px;
				font-size: 12px;
				color: #eee;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	.loadingWrap{
		width: 100%;
		min-height: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.theLoading{
		width: 20px !important;
		height: 20px;
		position: relative;
    display: inline-block;
    line-height: 2em;
    vertical-align: middle;
    margin-right: 6px;
		animation-duration: 1s;
		animation-name: rotateMe;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		svg{
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    g{
		    path{
			    fill: rgba(0,0,0,.5);
		    }
	    }
		}
		+ span{
			color: #777;
			font-style: italic;
		}
	}
}


@keyframes rotateMe {
  0% {
    // background-color: #001F3F;
    transform: rotate(0deg);
  }
  100% {
    // background-color: #FF4136;
    transform: rotate(360deg);
  }
}

/*

		.imageCard{
			width: 120px;
			height: 200px;
			background: #f9f9f9;
			box-shadow: 0 1px 4px rgba(0,0,0,.1);
			display: inline-block; 
			margin: 10px 10px;
			font-size: 11px;
			// overflow: hidden;
			position: relative;
			h5{
				// display: none;
				// position: absolute;
				// left: 0;
				// bottom: 0;
				// background: #eee;
				padding: 2px;
			}
			&:hover{
				background: #fff;
				box-shadow: 0 1px 8px rgba(0,0,0,.3);
				h5{
				display: block;
				}
				button.editButton{
					background: pink;
					opacity: 1;
					z-index: 20;
				}
			}
			button{
				position: relative;
				background: transparent;
				box-shadow: none;
				&.editButton{
					position: absolute;
					top: 4px;
					right: 4px;
					opacity: 0;
				}
			}
			.theCount{
				width: 18px;
				height: 18px;
				background: #222;
				text-align: center;
				line-height: 18px;
				font-size: 12px;
				color: #eee;
				border-radius: 50%;
				display: inline-block;
			}
		}
*/
