@import "../../styles/includes/_include-media.scss";

$color-background: #eee;
$color-overlay: rgba(0,0,0,0.2);
$color-secondary: #444444;
$color-primary: #333;
$color-danger: red;
$color-warning: orange;
$color-success: lime;

$body_padding: 16px;
// @import "../../styles/variables/_colors.scss";
// TYPES
// error: red
// info: teal
// warning:
// success: gold
// ui: black

$body_padding: 32px;

.Message{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
	min-height: 2rem;
	position: relative;
	// position: fixed;
	top: 0;
	width: 100%;
	
  .prefix{
    flex-basis: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 1rem;
		// padding-top: .2rem;
		padding: 0.25rem;
  }
  .suffix{
    flex-basis: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
		min-height: 1rem;
		padding: 0.25rem;
    // padding-top: .2rem;
  }
  .content{
    flex-grow: 1;
		flex-shrink: 1;
		padding: 0.25rem;
    h4{
      margin: 0.25rem 0;
    }
  }
	*.isVisible{
		display: block;
	}
	//MODES
	&.ui{
		background: $color-background;
		border-top: 1px solid $color-overlay;
		color: $color-secondary;
		flex-basis: 3remx;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 1rem;
		font-size: .75rem;
		.content{
			margin: 0;
			padding: 0;
			h4{
				display: inline-block;
				margin-right: 1rem;
				text-transform: capitalize;
			}
		}
	}
  &.normal{
    background: $color-primary;
  }
  &.error{
    background: $color-danger;
    .content{
			margin: 0;
			padding: 0;
			h4{
				display: inline-block;
				margin-right: 1rem;
				text-transform: capitalize;
			}
		}
  }
  &.warning{
    background: $color-warning;
    .content{
			margin: 0;
			padding: 0;
			h4{
				display: inline-block;
				margin-right: 1rem;
				text-transform: capitalize;
			}
		}
  }
  &.success{
    background: $color-success;
    .content{
			margin: 0;
			padding: 0;
			h4{
				display: inline-block;
				margin-right: 1rem;
				text-transform: capitalize;
			}
		}
  }
  // modifiers
  &.hasMargin{
    margin: 16px 24px;
  }
  &.hasTitle{
    .prefix, .suffix{
      // padding-top: .25rem;
      align-self: center;
    }
  }
  &.top{
    min-height: 60px;
  }

  // &.isViewer, &.isViewer.isAnimated{
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   margin: 0;
  //   z-index: 999999999999999;
  //   right: 0;
  //   left: 0;

  //   &.top{
  //     top: 56px;
  //     left: 240px;
  //     bottom: unset;
  //     min-height: 60px;
  //   }
  //   &.bottom{
  //     top: unset;
  //     bottom: 0;
  //     animation-name: foldUp;
  //     transform-origin: bottom center;
  //     left: 240px;
  //   }
  // }
  &.isAnimated{
    position: relative;
    perspective: 800px;
    transition-delay: 0s;
    animation-name: foldUp;
    animation-duration: .3s;
		animation-timing-function: ease;	
    transform-origin: top center;
    transform-style: preserve-3d;
    &.hasMargin{
      width: calc(100% - (#{$body_padding} * 2));
      // width: 300px;
      // width: calc(#{$body_padding} * 14)
    }
    + .Message{
      // POSSIBLE USE WHEN MULTIPLE MESSAGE
      // top: 50px;
      // border: 2px solid pink;
		}
		&.isLeaving{
      animation-name: foldOut;
      @include media("<=desktop") {	
        animation-name: foldOutUp;
      }
			animation-duration: 1s;
			animation-timing-function: ease;
			transform-origin: top center;
			transform-style: preserve-3d;
			animation-iteration-count: 1;
		}
  }


  @keyframes foldDown {
    from {
      transform: scale(1, 1) rotateX(-90deg);
      opacity: 0;
    }
    to {
      transform: scale(1, 1) rotateX(0deg);
      opacity: 1;
    }
  }
  @keyframes foldUp {
    from {
      transform: scale(1, 0) translateY(100%);
      opacity: 0;
    }
    to {
      transform: scale(1, 1) translateY(0%);
      opacity: 1;
    }
  }
  @keyframes foldOut {
    from {
			transform: scale(1, 1) translateY(0%);
      opacity: 1;
    }
    to {
      transform: scale(1, 1) translateY(100%);
      opacity: 1;
    }
  }
  @keyframes foldOutUp {
    from {
			transform: scale(1, 1) translateY(0%);
      opacity: 1;
    }
    to {
      transform: scale(1, 1) translateY(-100%);
      opacity: 0;
    }
  }

}
